.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + vmin);
  color: #bebebe;
  font-weight: 100;
}


.App-link {
  color: #61dafb;
}

/* Use Helvetica app-wide if available*/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}