.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
  font-size: 18px;
  color: #F5F5F5;
  font-weight: 100;
}

.LeftContent {
  margin: 0px 5% 0px 0px;
}

.RightContent {
  margin: 0px 0px 0px 5%;
}

.App-link {
  color: #61dafb;
}

/* Use Helvetica app-wide if available*/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}